@charset "UTF-8";

/* Fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Outra fonte */
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root{
    --cor-titulo: rgb(131, 243, 103); 
    --cor-corpo: #000000;
    --font-corpo: "Poppins", sans-serif; /* Correção aqui */
    --cor-main:rgb(173, 32, 32); 
}

header h1 {
    font-family: var(--font-corpo); /* Use a variável correta */
    color: var(--cor-titulo);
    background-color: var(--cor-corpo);
}

main {
    background-color: var(--cor-main);
    padding: 40px;
    border-radius: 10px;
    width: 1000px;
    margin: auto;
    text-align: justify;
    min-width: 320px;
    max-width: 900px;
}

main p {
    color: white;
}

